body{padding:0;margin:0;height:100vh;overflow:auto;}
body .cfvf_main{padding:0 10px;margin-top:40px;background:#fff;}
.cfvf_goback{background:#3b9c39;font-size:16px;color:#fff;height:40px;line-height:40px;width:100%;position:fixed;top:0;left:0;z-index:99;display:flex;justify-content:space-between;align-items:center;}
.cfvf_goback_left{display:flex;align-items:center;padding-left:10px;color:#fff;font-size:16px;}
.cfvf_goback_right{display:flex;align-items:center;padding-right:10px;color:#fff!important;text-decoration:none;}
article,header,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
small{font-size:80%;}
img{border:0;}
svg:not(:root){overflow:hidden;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="javascript:"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.navbar{display:none;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-responsive{display:block;max-width:100%;height:auto;}
h2,h3,h5{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h5{margin-top:10px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}
h5{font-size:14px;}
p{margin:0 0 10px;}
small{font-size:85%;}
ul{margin-top:0;margin-bottom:10px;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width:768px){
.navbar{border-radius:4px;}
}
.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030;}
@media (min-width:768px){
.navbar-fixed-bottom{border-radius:0;}
}
.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0;}
.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;}
.navbar:after,.navbar:before{display:table;content:" ";}
.navbar:after{clear:both;}

body{padding:0px;width:100%;margin:0px auto;background:rgb(243, 243, 243) none repeat scroll 0% 0%;height:100%;overflow:auto;}
p,h3,ul,li{margin:0px;padding:0px;}
li{list-style:outside none none;padding:0px;}
img{border:0px none;}
.wx{text-align:center;padding:10px 0;}

::-moz-focus-inner{border-color:transparent;}

body{font-family:Microsoft Yahei,tahoma,arial,simsun;font-size:16px;color:#252525;}
body,p,h2,h3,ul,li,h5{padding:0;margin:0;}
li{list-style-type:none;}
a,a:visited{color:#999;font-size:13px;text-decoration:none;}
img{border:0;vertical-align:middle;max-width:100%;}
header,nav,article,section{width:670px;margin:0 auto;overflow:hidden;}
nav{color:#8c8c8c;}
article{line-height:170%;}
article p{margin-top:20px;}
article p span,article p strong{color:#ff2941;}
article h5{margin:20px auto;}
article h5 span{color:#607fa6;margin-right:10px;}
section h2,article h5{font-size:16px;color:#8c8c8c;font-weight:normal;}
section h2{border-top:1px dotted #8c8c8c;padding:26px 0 8px;text-align:center;}
section li{margin-top:20px;overflow:hidden;}
section li h3{float:left;width:35px;}
section li h3 img{width:35px;}
section li p{margin-left:45px;line-height:160%;}
section li p span{display:block;color:#999;}
section li p img{margin-bottom:8px;}
section li p small{display:block;color:#999;font-size:14px;}
@media (max-width:767px){
header,nav,article,section{width:90%;padding:0 5%;}
}
.tu4{position:relative;}
article p span,article p strong{color:black;}
